/* Cart specific style rules */
.uppercase-label {
  font-size: 0.75rem;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}
.border-bottom {
  border-bottom: 1px solid rgba(226, 232, 240, 0.8) !important;
}
